html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

button.navbar-toggler {
  border: none;
  outline: none !important;
}

.img-banner {
  height: calc(100vh - 56px);
  width: 100%;
  background-image: url("../../assets/img/layouts/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.text-gold {
  color: #efdf92 !important;
}

.bg-gold {
  background-color: #efdf92 !important;
}

.border-gold {
  border: 0.1rem solid #efdf92;
}

.form-control:focus {
  border: 0.15rem solid #efdf92;
  box-shadow: 0 0 0 0.1rem #efdf9225;
}

.vh-100 {
  height: 100vh;
}

.card-img-latest {
  height: 20rem;
  object-fit: cover;
  object-position: center;
}
